body {
	color: #555;
	position: relative;
	min-height: 100vh;
}

body::after {
	content: '';
	display: block;
	height: 200px;
}

a {
	color: #af991b;
}

nav {
	background-color: #f7e8bd;
	border-bottom: .1rem solid #e2b83b;
	height: 6rem;
	margin-bottom: 1rem;
}

nav .logo {
	font-size: 3.8rem;
	padding-left: 1rem;
}

nav .logo:hover {
	border: 0.4rem solid #daba0b;
	border-radius: 1rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

nav .navigation-list {
	list-style-type: none;
	padding-top: 1rem;
}

nav .navigation-list > li {
	display: inline;
	margin-top: 10px;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #af991b;
	border: 0.1rem solid #8d7a10;
}

.button:focus, .button:hover, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
    background-color: #807f50;
    border-color: #58583f;
}

.label-inline {
	cursor: pointer;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus, select:focus {
	border-color: #8d7a10;
	outline: 0.4rem solid #daba0b;
}

.dev {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #f7e8bd;
}

pre {
	border-left: 0.3rem solid #8d7a10;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 200px;
	background: #daba0b;
	color:  #8d7a10;
	display: block;
	font-size: 1.4rem;
	max-width: 100%;
	padding: 4rem 0;
	width: 100%;
}