{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheese polls</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="{% url 'polls:index' %}">🧀</a>
            <ul class="navigation-list float-right">
                <li><a class="button" href="{% url 'polls:create' %}">Create poll</a></li>
                <li><a class="button" href="{% url 'polls:index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a class="button" href="/logout">Logout</a></li>
                {% else %}
                <li><a class="button" href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% if DEBUG %}
    <div class="container">
        <h3>Dev section</h3>
        {% if user.is_authenticated %}
            <p>{% user %}</p>
        {% else %}
            <p>User is not authenticated</p>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>